.style-login{
border-radius: 10px;
}

/* .cor-laranja{
    background: rgb(196, 80, 3);
} */

.btn-primary {
    color: #fff !important;
    background-color: rgb(196, 80, 3) !important;
    border-color: rgb(196, 80, 3) !important;
}

.badge {
    color: #fff;
    border-radius: 2px;
}

.badge-success {
    color: #212529;
    background-color: #70ca63;
}
.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 85%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}